{
  "starforge-mission1" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Unbound Facility",
    "message" : "\n\nWe need someone to investigate an unknown Unbound facility, are you up to the task?\n^red;Threat Level: ^reset;7",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/objects/crafting/morpheusshop/morpheusshopportait.png"} ]
    },
    "labels" : {
      "name" : "Morpheus"
    }
  },
  
  "starforge-mission2" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Space Station Taurus",
    "message" : "\n\nThe Taurus station is our door to the Unbound network. We have the coordinates to beam you near, get in, and hack our way in.\n^red;Threat Level: ^reset;7",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/interface/confirmation/marikoportrait.png"} ]
    },
    "labels" : {
      "name" : "Mariko"
    }
  },
  
  "starforge-mission3" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Prison Break",
    "message" : "\n\nSasha Beniko is held in an isolated Unbound prison, on a terraformed world. We need her out, safe and sound.\n^red;Threat Level: ^reset;8",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/objects/crafting/morpheusshop/morpheusshopportait.png"} ]
    },
    "labels" : {
      "name" : "Morpheus"
    }
  }
}
