{
  "starforge-mission1" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Unbound Facility",
    "message" : "\n\nWe need someone to investigate an unknown Unbound facility, are you up to the task?\n^red;Threat Level: ^reset;7",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/objects/crafting/morpheusshop/morpheusshopportait.png"} ]
    },
    "labels" : {
      "name" : "Morpheus"
    }
  }
}
