{
  "title" : "Starforge Weapons",

  "ranged" : {
    "starforge-avarice" : {
      "order" : 1,
      "obtainable" : true,
      "versionObtained" : "1.0",
      "title" : "^#b4f5c3;Hunter's Avarice^reset;",
      "description" : "A heavy underslung bowgun, capable of firing bolts at incredibly high speeds.",
      "icon" : "/items/active/weapons/ranged/unique/avarice/starforge-avarice.png:reload.1"
    },
    "starforge-headhunter" : {
      "order" : 1.1,
      "obtainable" : false,
      "versionObtained" : "1.X",
      "title" : "^#b4f5c3;Headhunter^reset;",
      "description" : "A bowgun heavily modified using the Exalting Station, slinging bolts of energy at incredible speeds.",
      "icon" : "/items/active/weapons/ranged/unique/avarice/exalted/starforge-headhuntericon.png"
    },
    
    "starforge-behemoth" : {
      "order" : 2,
      "obtainable" : false,
      "versionObtained" : "1.X",
      "title" : "^#b4f5c3;Behemoth ver.9000^reset;",
      "description" : "Wrought from brimstone, of unending fury resurging from a former death.",
      "icon" : "/items/active/weapons/ranged/unique/behemoth/starforge-behemoth.png:idle"
    },
    "starforge-leviathan" : {
      "order" : 2.1,
      "obtainable" : false,
      "versionObtained" : "1.X",
      "title" : "^#b4f5c3;Leviathan ver.9001^reset;",
      "description" : "A weapon of unrivaled vehement rage, mettle on metal.",
      "icon" : "/items/active/weapons/ranged/unique/behemoth/starforge-starforge-leviathan.png"
    },
    
    "starforge-bloodveil" : {
      "order" : 3,
      "obtainable" : false,
      "versionObtained" : "1.X",
      "title" : "^orange;Bloodveil^reset;",
      "description" : "Manifests your life essence into a powerful arrow.",
      "icon" : "/items/active/weapons/ranged/unique/bloodveil/bloodveilicon.png"
    },
    
    "starforge-godfinger" : {
      "order" : 4,
      "obtainable" : false,
      "versionObtained" : "1.X",
      "title" : "^orange;Godfinger^reset;",
      "description" : "\"They say it is out of reach, out of sight. No. I can see it. I can reach it. It is within my grasp.\" - Apolleon",
      "icon" : "/items/active/weapons/ranged/unique/godfinger/godfingericon.png"
    },
    
    "starforge-hawkmoon" : {
      "order" : 5,
      "obtainable" : true,
      "versionObtained" : "1.0",
      "title" : "^orange;Hawkmoon^reset;",
      "description" : "With each shot, a deafening shriek.",
      "icon" : "/items/active/weapons/ranged/unique/hawkmoon/starforge-hawkmoon.png:ready1"
    },
    
    "starforge-lightofsorrow" : {
      "order" : 6,
      "obtainable" : false,
      "versionObtained" : "1.X",
      "title" : "^orange;Light of Sorrow^reset;",
      "description" : "A strange lantern bringing sorrow to all it shines upon.",
      "icon" : "/items/active/weapons/ranged/unique/lightofsorrow/starforge-lightofsorrow.png"
    },
    
    "starforge-mauricessidearm" : {
      "order" : 7,
      "obtainable" : false,
      "versionObtained" : "1.X",
      "title" : "^#686F5D;Maruice's Sidearm^reset;",
      "description" : "Maurice's trusty sidearm. He appears to have \"improved\" it's homing efficiency.",
      "icon" : "/items/active/weapons/ranged/unique/mauricessidearm/mauricessidearmicon.png"
    },
    
    "starforge-pepperbox" : {
      "order" : 8,
      "obtainable" : true,
      "versionObtained" : "1.0",
      "title" : "^#b4f5c3;Pepperbox^reset;",
      "description" : "A small revolver, packing the punch of a gun twice its size.",
      "icon" : "/items/active/weapons/ranged/unique/pepperbox/starforge-pepperbox.png:ready1"
    },
    
    "starforge-principleofduality" : {
      "order" : 8,
      "obtainable" : true,
      "versionObtained" : "1.0",
      "title" : "^#b4f5c3;Principle of Duality^reset;",
      "description" : "A powerful rocket launcher with the ability to fire twin elemental missiles.",
      "icon" : "/items/active/weapons/ranged/unique/principleofduality/starforge-principleofduality.png"
    },
    "starforge-principleofredemption" : {
      "order" : 9,
      "obtainable" : false,
      "versionObtained" : "1.X",
      "title" : "^#b4f5c3;Principle of Redemption^reset;",
      "description" : "A handcannon that fires dual elemental slugs, perfect for every encounter.",
      "icon" : "/items/active/weapons/ranged/unique/principleofduality/starforge-principleofduality.png"
    },
    "starforge-principleoffinality" : {
      "order" : 10,
      "obtainable" : false,
      "versionObtained" : "1.X",
      "title" : "^#b4f5c3;Principle of Finality^reset;",
      "description" : "A classic double barrel shotgun, each barrel packing a spread of different elements.",
      "icon" : "/items/active/weapons/ranged/unique/principleoffinality/starforge-principleoffinality.png"
    },
    
    "starforge-tearoftheguidinglight" : {
      "order" : 11,
      "obtainable" : false,
      "versionObtained" : "1.X",
      "title" : "^#b4f5c3;Tear of Perception^reset;",
      "description" : "A tainted avolite, taking on an azure hue, said to guide its followers to the truth. ^red;[PROTOTYPE]^reset;",
      "icon" : "/items/active/weapons/ranged/unique/tearoftheguidinglight/starforge-tearoftheguidinglightringicon.png"
    },
    
    "starforge-thecenturion" : {
      "order" : 12,
      "obtainable" : true,
      "versionObtained" : "1.0",
      "title" : "^orange;The Centurion^reset;",
      "description" : "A massive tank cannon, repurposed & made portable.",
      "icon" : "/items/active/weapons/ranged/unique/thecenturion/thecenturion.png:idle1"
    },
    
    "starforge-thevow" : {
      "order" : 13,
      "obtainable" : true,
      "versionObtained" : "1.0",
      "title" : "^orange;The Vow^reset;",
      "description" : "A strong weapon which fires super heated rounds, capable of piercing and rupturing shields.",
      "icon" : "/items/active/weapons/ranged/unique/thevow/thevow.png:ready1"
    },
    
    "starforge-tidewalker" : {
      "order" : 14,
      "obtainable" : false,
      "versionObtained" : "1.X",
      "title" : "Tidewalker",
      "description" : "A peculiar weapon, found outside the known realm, firing high speed projectiles made from tidalfrost.",
      "icon" : "/items/active/weapons/ranged/unique/tidewalker/starforge-tidewalker.png:ready1"
    }
  }
}