{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
				"type" : "animated",
				"animation" : "/animations/smallflame/smallflame.animation",
                                "fullbright" : true,
				"fade" : 0.4,
				"destructionAction" : "shrink",
				"destructionTime" : 1,
				"initialVelocity" : [0, -0.5],
				"finalVelocity" : [0, -0.5],
				"approach" : [0, 20],
				"timeToLive" : 0.5,
				"size" : 1,
				"layer" : "back",
				"variance" : {
				  "initialVelocity" : [0, 0.5],
				  "finalVelocity" : [0, -0.5]
				}
			  }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 2,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
				"type" : "animated",
				"animation" : "/animations/smallflame/smallflame.animation",
                                "fullbright" : true,
				"fade" : 0.4,
				"destructionAction" : "shrink",
				"destructionTime" : 1,
				"initialVelocity" : [0, -0.5],
				"finalVelocity" : [0, -0.5],
				"approach" : [0, 20],
				"timeToLive" : 0.5,
				"size" : 1,
				"layer" : "back",
				"variance" : {
				  "initialVelocity" : [0, 0.5],
				  "finalVelocity" : [0, -0.5]
				}
			  }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/flame_burn.ogg" ]
    }
  ]
}
