{
  "hail" : {
    "default" : {
    	"default" : [
	      "You're not a Xenotox spy, are you?",
	      "If you're a customer, welcome to Elpis.",
	      "I'm here to protect Elpis employees, don't do anything suspicious.",
	      "Move along."
      ]
    },
    "glitch" : {
      "default" : [
        "Cautious. Behave yourself, you are on Elpis grounds.",
        "Suspicious. What is your purpose here? Xenotox employees are forbidden.",
        "Inexperienced. Eep! You're not from Xenotox are you?",
        "Alert. I am tasked with the protection of Elpis employees.",
        "Optimistic. I'm sure you won't be any trouble to Elpis.",
        "Reticent. You won't be a problem to Elpis...",
        "Stern. You behave yourself, otherwise you'll be put on Elpis' blacklist.",
        "Dismissive. Try not to get yourself hit by Xenotox weapons. Their corrosive projectiles hurts.",
        "Concerned. Should you be here? "
      ]
    },
    "human" : {
      "default" : [
        "Watch yourself, stranger. We've been targetted by Xenotox recently.",
        "Stay out of trouble. We don't want more problems.",
        "Don't... Just don't do anything suspicious. We got our hands full with the Unbound and Xenotox.",
        "I'm watching you. Don't try to steal anything.",
        "Everything here belong to Elpis Elements. Don't you try anything.",
        "Elpis armors are tough! Try me.",
        "Elpis equipment is the best! Try it out!",
        "What's your business here? Not from Xenotox are you?",
        "What are you lookin' at?",
		"Hard to move in Elpis armors."
      ]
    },
    "floran" : {
      "default" : [
        "Sstay out of trouble.",
        "Floran wasss asssked to keep Xenotox bad out. You Xenotox?",
        "No ssilliness on Elpiss groundss.",
        "Behave yourssself.",
        "Floran is hungry... Elpisss have little meat.",
        "Floran hate Xenotox poissson.",
        "Troublemakers are tasty."
      ]
    },
    "apex" : {
      "default" : [
        "Elpis is allowing us into its ranks. I'm very thankful.",
        "I was freed by the Unbound, but I'd rather protect people than fight another war.",
        "I'm protecting the Elpis employees, stay clear stranger.",
        "You better not be a Xenotox spy. They're trying to get rid of us.",
        "Elpis offers you very strong products, have a look.",
        "I was tempted to join the Unbound, but Elpis seems like a better call.",
        "Left the Unbound to join Elpis.",
        "Elpis armors are heavy, you'd be surprised.",
        "You can move freely here stranger, just don't do anything suspicious.",
        "The Miniknog? Nah I was freed by the Unbound. Found a good job here."
      ]
    },
    "hylotl" : {
      "default" : [
        "I hope you are not here for troubles, stranger.",
        "Xenotox has been a threat to Elpis for a while now. Too bad we can't stay on good terms.",
        "Elpis offer weapons, for peace.",
        "You are on Elpis grounds now.",
        "Cross me and I will be forced to strike.",
        "Elpis wanted peace with Xenotox. You're not with them, are you?",
        "I was trained from birth. Elpis' secrets are safe with me protecting them!",
        "I ask that you do not blemish this place with unnecessary aggression.",
        "Do not test me.",
        "Welcome to Elpis Elements, stranger."
      ]
    },
    "avian" : {
      "default" : [
        "Watch yourself, stranger. We've been targetted by Xenotox recently.",
        "Stay out of trouble. We don't want more problems.",
        "Don't... Just don't do anything suspicious. We got our hands full with the Unbound and Xenotox.",
        "I'm watching you. Don't try to steal anything.",
        "Everything here belong to Elpis Elements. Don't you try anything.",
        "Elpis armors are tough! Try me.",
        "Elpis equipment is the best! Try it out!",
        "What's your business here? Not from Xenotox are you?",
        "What are you lookin' at?",
		"Hard to move in Elpis armors."
      ]
    },
    "novakid" : {
      "default" : [
        "Don't cause no fuss around here, partner.",
        "If you don't intend to cause trouble, then we'll get on jus' fine.",
        "We're mighty fine with strangers, as long as they aren't trouble.",
        "I forget, have we seen you round here before?",
        "Hope you enjoy our ol' village, partner. Jus' don't cause no trouble.",
        "There's been thieves around these parts lately. We don't take kindly to stealin'.",
        "Howdy!"
      ]
    }
  }
}