{
  "gui" : {
    "background" : {
      "zlevel" : -2,
      "type" : "background",
      "fileHeader" : "/interface/scripted/starforge-missioncatalogue/header.png",
      "fileBody" : "/interface/scripted/starforge-missioncatalogue/body.png",
      "fileFooter" : "/interface/scripted/starforge-missioncatalogue/footer.png"
    },
	"imgShine" : {
      "type" : "image",
      "centered" : false,
      "scissoring" : false,
      "file" : "/interface/scripted/starforge-missioncatalogue/shine.png",
      "size" : [317, 210],
      "position" : [0, 0],	//158.5, 105 if centered
      "zlevel" : -1
	},

    "close" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "base" : "/interface/scripted/starforge-missioncatalogue/x.png",
      "hover" : "/interface/scripted/starforge-missioncatalogue/xover.png",
      "press" : "/interface/scripted/starforge-missioncatalogue/xpress.png",
      "position" : [279, 192],
      "callback" : "close"
    },
	
	"destinationPreviewBorder" : {
      "type" : "image",
      "centered" : false,
      "scissoring" : false,
      "file" : "/interface/scripted/starforge-missioncatalogue/levelpreviewborder.png",
      "size" : [155, 45],
      "position" : [142, 115],
      "zlevel" : 1
	},
	"destinationPreview" : {
      "type" : "image",
      "centered" : false,
      "scissoring" : false,
      "file" : "/interface/scripted/starforge-missioncatalogue/levelpreview.png",
      "size" : [151, 40],
      "position" : [144, 118]
	},
	
    "destinationLabel" : {
      "type" : "label",
      "position" : [65, 172],
      "hAnchor" : "mid",
      "value" : "DESTINATIONS",
      "color" : [127, 127, 127]
    },
    "destinationScrollArea" : {
      "type" : "scrollArea",
      "rect" : [5, 35, 138, 171],
      "children" : {
        "itemList" : {
          "type" : "list",
		  "callback" : "destinationSelected",
          "schema" : {
            "selectedBG" : "/interface/scripted/starforge-missioncatalogue/listitemselected.png",
            "unselectedBG" : "/interface/scripted/starforge-missioncatalogue/listitembackground.png",
            "spacing" : [0, 2],
            "memberSize" : [133, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/starforge-missioncatalogue/listitembackground.png",
                "position" : [1, -1],
                "zlevel" : -1
              },
              "destinationName" : {
                "type" : "label",
                "position" : [24, 11],
                "hAnchor" : "left",
                "width" : 116,
                "value" : "Replace Me"
              },
              "destinationIcon" : {
                "type" : "image",
                "position" : [12, 10],
				"scissoring" : false,
				"centered" : true,
				"size" : [16, 16],
                "callback" : "null"
              }
            }
          }
        }
      }
    },
    "destinationDescription" : {
      "type" : "label",
      "value" : "Select a mission to revisit.",
      "position" : [148, 112],
      "wrapWidth" : 140,
      "hAnchor" : "left",
      "vAnchor" : "top",
      "size" : [80, 220]
    },
    "destinationShortDescription" : {
      "type" : "label",
      "value" : "",
      "position" : [166, 178],
      "wrapWidth" : 130,
      "lineSpacing" : 1,
      "hAnchor" : "left",
      "vAnchor" : "top",
      "size" : [200, 220]
    },
    "destinationIcon" : {
      "type" : "image",
      "file" : "",
      "scissoring" : false,
	  "centered" : true,
      "size" : [16, 16],
      "position" : [152, 171]
    },
    "btnTeleport" : {
      "type" : "button",
      "base" : "/interface/warping/buttonup.png",
      "hover" : "/interface/warping/buttonover.png",
      "disabledImage" : "/interface/warping/buttonover.png?brightness=-30",
      "pressedOffset" : [0, 0],
      "position" : [196.5, 30],
      "caption" : "Teleport",
      "callback" : "teleport"
    }
  },

  "scriptWidgetCallbacks" : [
    "teleport",
    "destinationSelected",
    "close"
  ],
  
  "scripts" : ["/interface/scripted/starforge-missioncatalogue/missioncatalogue.lua"],
  "scriptDelta" : 0
}
