{
  "starforge-tidetreedistrib1" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 8,
    "modulusVariance" : 4,

    "densityPeriod" : 1,
    "densityOffset" : 0.5,

    "typePeriod" : 20
  },
  
  "starforge-tidetreedistrib2" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 8,
    "modulusVariance" : 4,

    "densityPeriod" : 2,
    "densityOffset" : 0.5,

    "typePeriod" : 20
  }

}
