{
  "unboundmission1" : {
    "shortDescription" : "1 - Rise of the Unbound",
	"description" : "Tactically infiltrate and secure an Unbound base. Bring the hammer down on the production of Unbound tanks!",
    "level" : "7",
	"icon" : "/interface/scripted/starforge-missioncatalogue/config/unboundmission1icon.png",
    "previewImage" : "/interface/scripted/starforge-missioncatalogue/config/unboundmission1preview.png",
	"questPrerequisites" : ["thalassomission1b"],
	
	"destination" : "starforge-unbdmission1"
  },
  "unboundmission2" : {
    "shortDescription" : "1 - The S.S Taurus",
	"description" : "Invade an Unbound Vanguard space station and hack your way inside their network. Leave no trace.",
    "level" : "7",
	"icon" : "/interface/scripted/starforge-missioncatalogue/config/unboundmission2icon.png",
    "previewImage" : "/interface/scripted/starforge-missioncatalogue/config/unboundmission2preview.png",
	"questPrerequisites" : ["thalassomission2"],
	
	"destination" : "starforge-unbdmission2"
  },
  
  "unboundmission3" : {
    "shortDescription" : "1 - Prison Break",
	"description" : "Investigate an Unbound prison located on a terraformed world, recruit a new ally, and find out what the Unbound is planning.",
    "level" : "8",
	"icon" : "/interface/scripted/starforge-missioncatalogue/config/unboundmission3icon.png",
    "previewImage" : "/interface/scripted/starforge-missioncatalogue/config/unboundmission3preview.png",
	"questPrerequisites" : ["thalassomission3b"],
	
	"destination" : "starforge-unbdmission3"
  },
  
  "yukaihunt1" : {
    "shortDescription" : "Hunt - Yukai Terror",
	"description" : "Visit Eleuthia IV, the now broken homeworld of the Yukai, and slay the Yukai Terror, a terrible beast corrupted by an anger that isn't its own.",
    "level" : "5",
	"icon" : "/interface/scripted/starforge-missioncatalogue/config/yukaihunt1icon.png",
    "previewImage" : "/interface/scripted/starforge-missioncatalogue/config/yukaihunt1preview.png",
	"questPrerequisites" : ["questdoesnotexist"],
	
	"destination" : "starforge-eleuthia1"
  }
  
}