{
  "unboundmission1" : {
    "shortDescription" : "CH.1 - Rise of the Unbound",
	"description" : "Tactically infiltrate and secure an Unbound base. Bring the hammer down on the production of Unbound tanks!",
    "level" : "7",
	"icon" : "/interface/scripted/starforge-missioncatalogue/config/unboundmission1icon.png",
    "previewImage" : "/interface/scripted/starforge-missioncatalogue/config/unboundmission1preview.png",
	"questPrerequisites" : [],
	
	"destination" : "starforge-unbdmission1"
  },
  "unboundmission2" : {
    "shortDescription" : "CH.1 - The S.S Taurus",
	"description" : "Invade an Unbound Vanguard space station and hack your way inside their network. Leave no trace.",
    "level" : "7",
	"icon" : "/interface/scripted/starforge-missioncatalogue/config/unboundmission2icon.png",
    "previewImage" : "/interface/scripted/starforge-missioncatalogue/config/unboundmission2preview.png",
	"questPrerequisites" : [],
	
	"destination" : "starforge-unbdmission2"
  }
}