{
  "missions" : [
    {
	  "missionId" : "unboundmission1",
      "shortDescription" : "1 - Rise of the Unbound",
	  "description" : "Tactically infiltrate and secure an Unbound base. Bring the hammer down on the production of Unbound tanks!",
	  "subtitle" : "Unbound Storyline",
	  "chapter" : "I-I",
      "level" : "7",
	  "icon" : "/interface/scripted/starforge-missioncatalogue/config/unboundmission1icon.png",
      "previewImage" : "/interface/scripted/starforge-missioncatalogue/config/unboundmission1preview.png",
	  "questPrerequisites" : ["thalassomission1b"],
	
	  "destination" : "starforge-unbdmission1"
    },
    {
	  "missionId" : "unboundmission2",
      "shortDescription" : "1 - The S.S Taurus",
	  "description" : "Invade an Unbound Vanguard space station and hack your way inside their network. Leave no trace.",
	  "subtitle" : "Unbound Storyline",
	  "chapter" : "I-II",
      "level" : "7",
	  "icon" : "/interface/scripted/starforge-missioncatalogue/config/unboundmission2icon.png",
      "previewImage" : "/interface/scripted/starforge-missioncatalogue/config/unboundmission2preview.png",
	  "questPrerequisites" : ["thalassomission2"],
	
	  "destination" : "starforge-unbdmission2"
    },
    {
	  "missionId" : "unboundmission3",
      "shortDescription" : "1 - Prison Break",
	  "description" : "Investigate an Unbound prison located on a terraformed world, recruit a new ally, and find out what the Unbound is planning.",
	  "subtitle" : "Unbound Storyline",
	  "chapter" : "I-III",
      "level" : "8",
	  "icon" : "/interface/scripted/starforge-missioncatalogue/config/unboundmission3icon.png",
      "previewImage" : "/interface/scripted/starforge-missioncatalogue/config/unboundmission3preview.png",
	  "questPrerequisites" : ["thalassomission3"],
	
	  "destination" : "starforge-unbdmission3"
    },
	{
	  "missionId" : "katahelmission",
      "shortDescription" : "^#FFBC47;X^reset; - The Fallen Warlord",
	  "description" : "Discover the secrets of an ancient Glitch warlord, explore its ruined castle, and learn more about Rondin's past.",
	  "subtitle" : "Katahel Story Mission",
	  "chapter" : "O",
      "level" : "5",
	  "icon" : "/interface/scripted/starforge-missioncatalogue/config/katahelcastleicon.png",
      "previewImage" : "/interface/scripted/starforge-missioncatalogue/config/katahelcastlepreview.png",
	  "questPrerequisites" : ["starforge-decapitatorswordquest"],
	
	  "destination" : "starforge-katahelmission"
    }
  ]
}