{
  "missions" : [
    {
	  "missionId" : "yukaihunt1",
      "shortDescription" : "Hunt - Yukai Terror",
	  "description" : "Visit Eleuthia IV, the now broken homeworld of the Yukai, and slay the Yukai Terror, a terrible beast corrupted by an anger that isn't its own.",
      "level" : "5",
	  "icon" : "/interface/scripted/starforge-missioncatalogue/config/yukaihunt1icon.png",
      "previewImage" : "/interface/scripted/starforge-missioncatalogue/config/yukaihunt1preview.png",
	  "questPrerequisites" : [],
	
	  "destination" : "starforge-eleuthia1"
    }
  ]
}