{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "starforge-fractureexplosion"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/throwingboulder_impact1.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 1,
      "delaySteps" : 2
    }
  ]
}
