{
  "dungeons" : {
    "starforge-katahelruinsdungeon" : {
      "name" : "Katahel Ruins",
      "description" : "A castle left in ruins.",
      "planetTypes" : ["Scorched City", "Volcanic", "Midnight", "Tundra"],
      "imagePath" : "/assetmissing.png",
      "lootOfInterest" : {
        "starforge-beheader" : "Decapitator"
      }
    },
    "starforge-vowvillage" : {
      "name" : "Unbound Vow Village",
      "description" : "A village.",
      "planetTypes" : ["Scorched City", "Volcanic", "Midnight", "Tundra", "Jungle"],
      "imagePath" : "/assetmissing.png",
      "lootOfInterest" : {
        "starforge-thevow" : "The Vow"
      }
    },
    "starforge-furouraltar" : {
      "name" : "Yukai Sword Altar",
      "description" : "A place of worship for a long remembered sword.",
      "planetTypes" : ["Scorched City", "Volcanic", "Midnight", "Savannah", "Tundra"],
      "imagePath" : "/assetmissing.png",
      "lootOfInterest" : {
        "starforge-furour" : "Furour"
      }
    },
    "starforge-yukaiforgemasterhut" : {
      "name" : "Forgemaster's Hut",
      "description" : "An old forgemaster, lost in his ways, seeking a new path.",
      "planetTypes" : ["Scorched City", "Volcanic", "Midnight", "Tundra", "Jungle", "Alien", "Forest", "Savannah"],
      "imagePath" : "/assetmissing.png",
      "lootOfInterest" : {}
    },
    "starforge-unboundvillage" : {
      "name" : "Unbound Village",
      "description" : "A village of Unbound refugees. These people are not hostile and are indifferent to your visit.",
      "planetTypes" : ["Scorched City", "Volcanic", "Snow", "Tundra", "Jungle", "Alien", "Forest", "Savannah"],
      "imagePath" : "/assetmissing.png",
      "lootOfInterest" : {}
    },
    "starforge-yukaifortress" : {
      "name" : "Yukai Fortress",
      "description" : "A small Yukai fortress housing many of the Yukai, and an interesting encounter.",
      "planetTypes" : ["Scorched City", "Volcanic", "Midnight", "Tundra", "Savannah"],
      "imagePath" : "/assetmissing.png",
      "lootOfInterest" : {}
    }
  },
  "microdungeons" : {}
}