{
  "dungeons" : {
    "starforge-katahelruinsdungeon" : {
      "name" : "Katahel Ruins",
      "description" : "A castle left in ruins.",
      "planetTypes" : ["Scorched City", "Volcanic", "Midnight", "Tundra"],
      "imagePath" : "/assetmissing.png",
	  "lootofinterest" : {
	    "starforge-beheader" : "Decapitator"
	  }
    },
    "starforge-vowvillage" : {
      "name" : "Unbound Village",
      "description" : "A village.",
      "planetTypes" : ["Scorched City", "Volcanic", "Midnight", "Tundra", "Jungle"],
      "imagePath" : "/assetmissing.png",
	  "lootofinterest" : {
	    "starforge-thevow" : "The Vow"
	  }
    },
    "starforge-furouraltar" : {
      "name" : "Yukai Altar",
      "description" : "A place of worship for a long remembered sword.",
      "planetTypes" : ["Scorched City", "Volcanic", "Midnight", "Savannah", "Tundra"],
      "imagePath" : "/assetmissing.png",
	  "lootofinterest" : {
	    "starforge-furour" : "Furour"
	  }
    },
    "starforge-yukaiforgemasterhut" : {
      "name" : "Unbound Village",
      "description" : "A village.",
      "planetTypes" : ["Scorched City", "Volcanic", "Midnight", "Tundra", "Jungle", "Alien", "Forest", "Savannah"],
      "imagePath" : "/assetmissing.png",
	  "lootofinterest" : {}
    },
    "starforge-unboundvillage" : {
      "name" : "Unbound Village",
      "description" : "A village.",
      "planetTypes" : ["Scorched City", "Volcanic", "Snow", "Tundra", "Jungle", "Alien", "Forest", "Savannah"],
      "imagePath" : "/assetmissing.png",
	  "lootofinterest" : {}
    },
    "starforge-yukaifortress" : {
      "name" : "Yukai Fortress",
      "description" : "A yukai fortress.",
      "planetTypes" : ["Scorched City", "Volcanic", "Midnight", "Tundra", "Savannah"],
      "imagePath" : "/assetmissing.png",
	  "lootofinterest" : {}
    }
  },
  "microdungeons" : {}
}